<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sender.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sender.description %>
</p>

<%= link_to 'Edit', edit_sender_path(@sender) %> |
<%= link_to 'Back', senders_path %>
