<script>
  function actionsFormatter(value) {
    var actions = '';
    actions += '<a style="padding-right:12px;" href="/admin/users/' + value + '"><i class="glyphicon glyphicon-eye-open"></i></a>';
    actions += '<a style="padding-right:12px;" href="/admin/users/' + value + '/edit"><i class="glyphicon glyphicon-pencil"></i></a>';
    actions += '<a style="padding-right:12px;" href="/admin/users/' + value + '"><i class="glyphicon glyphicon-trash"></i></a>';
    return actions;
  }
</script>
<% if (notice) %><p id="notice"><%= notice %></p><% end %>

<h1 class="page-header"><%= t('users.nav-title') %></h1>
<div id="toolbar">
    <%= link_to t('users.new'), new_admin_user_path, :class => 'btn btn-primary' %>
</div>
<table data-toggle="table"
       data-classes="table table-hover table-striped"
       data-sort-name="email"
       data-sort-order="desc"
       data-url="/admin/users"
       data-pagination="true"
       data-search="true"
       data-height="500"
       data-toolbar="#toolbar">
    <thead>
    <tr>
        <th data-field="email" data-sortable="true"><%= t('users.email') %></th>
        <th data-field="id" data-formatter="actionsFormatter"><%= t('actions.title') %></th>
    </tr>
    </thead>
</table>